<form class="{{cssClass}}" autocomplete="off">

  <div class="sheet challenge-sheet">

    <header class="sheet-header">
      <div class="information">
        <label for="name" class="info-label">{{localize "EXPANSE.Name" }}</label>
        <input class="info-input" type="text" name="name" value="{{actor.name}}" data-dtype="String" {{#ifCond isGM '!=' true}}disabled{{/ifCond}}/>
      </div>
    
      <div class="info-header">
        <div class="char-image">
          <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" name="img" />
        </div>
        <div class="info-header">

          <div class="info-col">
            <div class="information">
              <label for="name" class="info-label">{{localize "EXPANSE.Type"}}</label>
              <select class="challenge-type-selector" type="text" name="system.type" data-dtype="String" {{#ifCond isGM '!=' true}}disabled{{/ifCond}}>
                {{#select system.type}}
                <option value="chase" selected>{{localize "EXPANSE.Challenge.chase" }}</option>
                <option value="exploration">{{localize "EXPANSE.Challenge.exploration" }}</option>
                <option value="social">{{localize "EXPANSE.Challenge.social" }}</option>
                {{/select}}
              </select>
            </div>
            <div class="information">
              <label for="name" class="info-label">{{localize "EXPANSE.Difficulty" }}</label>
              <input class="info-input" type="number" name="system.difficulty" value="{{actor.system.difficulty}}"
                data-dtype="Number" {{#ifCond isGM '!=' true}}disabled{{/ifCond}}/>
            </div>
            <div class="information">
              <label for="name" class="info-label">{{localize "EXPANSE.SuccessThreshold" }}</label>
              <input class="info-input" type="number" name="system.successThreshold" value="{{actor.system.successThreshold}}"
                data-dtype="Number" {{#ifCond isGM '!=' true}}disabled{{/ifCond}}/>
            </div>
          </div>

          <div class="info-col">
            <div class="item-box">    
              <div class="weapon-header">
                <span>{{localize "EXPANSE.ApplicableAbilities" }}</span>
              </div>
              <ul class="items weapon-list">
                {{#each applicableAbilities as |ability key|}}
                <li class="item ability" data-item-id="{{id}}">
                  <div class="item-row">
                    <div class="list-item">
                      {{localize (concat "EXPANSE." name)}} ({{focus}})
                    </div>
                    {{#ifCond isGM '==' true}}
                    <div class="item-controls list-item">
                      <a class="item-control item-edit" title="{{localize "EXPANSE.Edit" }}"><i class="fas fa-edit"></i></a>
                      <a class="item-control item-delete" title="{{localize "EXPANSE.Delete" }}"><i class="fas fa-trash"></i></a>
                    </div>
                    {{/ifCond}}
                  </div>
                </li>
                {{/each}}
              </ul>
              {{#ifCond isGM '==' true}}
              <a class="item-control item-create" data-type="focus" title="{{localize "EXPANSE.Add" }}">
                <i class="fas fa-plus"></i>
              </a>
              {{/ifCond}}
            </div>
          </div>

        </div>
      </div>
    </header>

    <section class="sheet-body">

      <!-- Players Consequence Section -->
      {{#ifCond noConsequences '==' false}}
      {{#ifCond isGM '!=' true}}
      <div class="item-box">

        <div class="weapon-header">
          <span>{{localize "EXPANSE.Consequences" }}</span>
        </div>
        <ul class="items weapon-list">
          {{#each consequences as |consequence key|}}
          {{#ifCond system.active '==' true}}
          <li class="item consequence 
            {{#ifCond system.resolved '==' false}}
              visible
            {{/ifCond}}
            {{#ifCond system.resolved '==' true}}
              not-visible
            {{/ifCond}}
          " data-item-id="{{_id}}">
            <div class="consequence-row">

                <div class="consequence-type" title="{{localize (concat "EXPANSE.Challenge." system.severity)}}">
                  {{#ifCond system.severity '==' "minor"}}
                  <span class="far fa-circle"></span>
                  <span class="far fa-circle"></span>
                  {{/ifCond}}
                  {{#ifCond system.severity '==' "moderate"}}
                  <span class="far fa-circle"></span>
                  <span class="fas fa-circle"></span>
                  {{/ifCond}}
                  {{#ifCond system.severity '==' "major"}}
                  <span class="fas fa-circle"></span>
                  <span class="fas fa-circle"></span>
                  {{/ifCond}}
                  <span class="fas fa-circle"></span>
                </div>

              <div class="consequence-description">
                {{editor system.description engine="prosemirror" button=false owner=owner editable=false}}
              </div>
            </div>

            <div class="consequence-row controls">
              {{#ifCond system.resolved '==' true}}
              <span class="resolved">{{localize "EXPANSE.Resolved" }}</span>
              {{/ifCond}}
            </div>
          </li>
          {{/ifCond}}
          {{/each}}
        </ul>
      </div>
      {{/ifCond}}
      {{/ifCond}}


      <!-- Challenge Header -->
      <div class="divider-header">
        <span>{{localize (concat "EXPANSE.Challenge." system.type)}}</span>
      </div>
      
      <!-- Progress Bar-->
      {{#ifCond system.type '!=' 'chase'}}
      <div class="item-box">
        <div class="weapon-header">
          <span>{{localize "EXPANSE.Progress" }}</span>
        </div>
        <div class="progress-row">
          <div class="list-item">
            {{#each progress as |v k|}}
              {{#ifCond v '==' 1}}
                <span class="fas fa-circle"></span>
              {{/ifCond}}
              {{#ifCond v '==' 0}}
                <span class="far fa-circle"></span>
              {{/ifCond}}
            {{/each}}
          </div>
          {{#ifCond isGM '==' true}}
          <div class="item-controls list-item">
            <a class="progress-mod minus"><i class="fa fa-minus"></i></a>
            <a class="progress-mod"><i class="fa fa-plus"></i></a> 
          </div>
          {{/ifCond}}
        </div>
      </div>
      {{/ifCond}}

      <!-- Chase Section -->
      {{#ifCond system.type '==' 'chase'}}

      <!-- Chase Parameters -->
      <div class="info-header">
        <div class="information">
          <label for="name" class="info-label">{{localize "EXPANSE.TimePerTest" }}</label>
          <input class="info-input" type="text" name="system.timePerTest" value="{{actor.system.timePerTest}}"
            data-dtype="String" {{#ifCond isGM '!=' true}}disabled{{/ifCond}}/>
        </div>
        <div class="information">
          <label for="name" class="info-label">{{localize "EXPANSE.CloseRange" }}</label>
          <input class="info-input" type="number" name="system.closeRange" value="{{actor.system.closeRange}}"
            data-dtype="Number" {{#ifCond isGM '!=' true}}disabled{{/ifCond}}/>
        </div>
        <div class="information">
          <label for="name" class="info-label">{{localize "EXPANSE.MediumRange" }}</label>
          <input class="info-input" type="number" name="system.mediumRange" value="{{actor.system.mediumRange}}"
            data-dtype="Number" {{#ifCond isGM '!=' true}}disabled{{/ifCond}}/>
        </div>
      </div>

      <!-- Chase Panel -->
      <div class="item-box">
        <div class="weapon-header">
          <span>{{localize "EXPANSE.ChaseParticipants" }}</span>
        </div>
        <ul class="items weapon-list">
          <li class="item weapon header">
            <div class="header-row">
              {{#ifCond isGM '==' true}}
                <span class="weapon-list-item modifier"></span>
              {{/ifCond}}
              <span class="weapon-list-item name">{{localize "EXPANSE.Name" }}</span>
              <span class="weapon-list-item modifier">{{localize "EXPANSE.SpeedModifier" }}</span>
              <span class="weapon-list-item modifier">{{localize "EXPANSE.ChaseTotal" }}</span>
              <span class="weapon-list-item slider"></span>
              <span class="weapon-list-item modifier">{{localize "EXPANSE.SuccessThreshold" }}</span>
              {{#ifCond isGM '==' true}}
                <span class="weapon-list-item delete"></span>
              {{/ifCond}}
            </div>
          </li>
          {{#each system.participants as |participant key|}}
          {{#ifCond reveal '==' true}}
          <li class="item weapon {{visibility}}" data-item-key="{{key}}">
            <div class="weapon-row">

              {{#ifCond isGM '==' true}}
                <div class="item-controls weapon-list-item modifier">
                  <a class="item-control participant-delete" title="{{localize "EXPANSE.Delete" }}"><i class="fas fa-trash"></i></a>
                  <a class="item-control participant-visibility" title="{{localize "EXPANSE.Visibility" }}">
                    {{#ifCond visibility '==' 'visible'}}
                      <i class="fas fa-eye"></i>
                    {{/ifCond}}
                    {{#ifCond visibility '==' 'not-visible'}}
                      <i class="fas fa-eye-slash"></i>
                    {{/ifCond}}
                  </a>
                </div>
              {{/ifCond}}

              <div class="weapon-list-item name">
                {{name}}
              </div>

              <div class="weapon-list-item modifier">
                {{#ifCond speedModifier '!=' 0}}
                  +
                {{/ifCond}}
                {{speedModifier}}
              </div>

              <div class="weapon-list-item modifier">
                {{#ifCond chaseTotal '!=' "self"}}
                  ({{chaseTotal.value}})&nbsp;<span class="fas {{chaseTotal.indicator}}" title="{{chaseTotal.title}}" style="rotate: 90deg;"></span>
                {{/ifCond}}
              </div>
              <div class="weapon-list-item slider">
                <div class="slider-body">
                  <div class="slider-range">
                    <div class="slider-thumb {{selected}}" style="{{slider}}"></div>
                  </div>
                  <div class="slider-line {{selected}}"></div>
                </div>
              </div>

              <div class="weapon-list-item modifier">
                {{chasePosition}}
              </div>

              {{#ifCond isGM '==' true}}
                <div class="weapon-list-item delete">
                  <a class="chase-mod minus"><i class="fa fa-minus"></i></a>
                  <a class="chase-mod"><i class="fa fa-plus"></i></a>
                </div>
              {{/ifCond}}
            </div>
          </li>
          {{/ifCond}}
          {{/each}}
        </ul>
      </div> 
      {{/ifCond}} 

      <!-- Stunt Section -->
      <div class="item-box">
        <div class="weapon-header">
          <span>{{localize "EXPANSE.Stunts"}}</span>
        </div>
        <div class="biography-container">
          {{#ifCond isGM '==' true}}
          {{editor enrichment.system.stunts target="system.stunts" engine="prosemirror" button=true owner=owner editable=true}}{{/ifCond}}
          {{#ifCond isGM '!=' true}}
          {{editor enrichment.system.stunts engine="prosemirror" button=false editable=false}}
          {{/ifCond}}  
        </div>
      </div>

      <!-- Description Section -->
      <div class="item-box">
        <div class="weapon-header">
          <span>{{localize "EXPANSE.Description"}}</span>
        </div>
        <div class="biography-container">
          {{#ifCond isGM '==' true}}
          {{editor enrichment.system.description target="system.description" engine="prosemirror" button=true owner=owner editable=true}}
          {{/ifCond}}
          {{#ifCond isGM '!=' true}}
          {{editor enrichment.system.description engine="prosemirror" button=false editable=false}}
          {{/ifCond}}
        </div>
      </div>

      <!-- GM Consequence Section -->
      {{#ifCond isGM '==' true}}
      <div class="item-box">

        <div class="weapon-header">
          <span>{{localize "EXPANSE.Consequences" }}</span>
        </div>
        <ul class="items weapon-list">
          {{#each consequences as |consequence key|}}
          <li class="item consequence 
            {{#ifCond system.active '==' true}}
              visible
            {{/ifCond}}
            {{#ifCond system.active '==' false}}
              not-visible
            {{/ifCond}}
          " data-item-id="{{_id}}">
            <div class="consequence-row">

                <div class="consequence-type" title="{{localize (concat "EXPANSE.Challenge." system.severity)}}">
                  {{#ifCond system.severity '==' "minor"}}
                  <span class="far fa-circle"></span>
                  <span class="far fa-circle"></span>
                  {{/ifCond}}
                  {{#ifCond system.severity '==' "moderate"}}
                  <span class="far fa-circle"></span>
                  <span class="fas fa-circle"></span>
                  {{/ifCond}}
                  {{#ifCond system.severity '==' "major"}}
                  <span class="fas fa-circle"></span>
                  <span class="fas fa-circle"></span>
                  {{/ifCond}}
                  <span class="fas fa-circle"></span>
                </div>

              <div class="consequence-description">
                {{editor system.description engine="prosemirror" button=false owner=owner editable=false}}
              </div>
            </div>

            <div class="consequence-row controls">
              {{#ifCond system.resolved '==' true}}
              <a class="item-control item-update-checkbox" data-item-checkbox="resolved" title="{{localize "EXPANSE.Resolved" }}">                
                <i class="fas fa-circle-exclamation-check"></i>
              {{/ifCond}}
              {{#ifCond system.resolved '==' false}}
              <a class="item-control item-update-checkbox" data-item-checkbox="resolved" title="{{localize "EXPANSE.Resolve" }}">                
                <i class="fas fa-circle-exclamation"></i>
              {{/ifCond}}
              </a>
              <a class="item-control item-update-checkbox" data-item-checkbox="active" title="{{localize "EXPANSE.Visibility" }}">
                {{#ifCond system.active '==' true}}
                <i class="fas fa-eye"></i>
                {{/ifCond}}
                {{#ifCond system.active '==' false}}
                <i class="fas fa-eye-slash"></i>
                {{/ifCond}}
              </a>
              <a class="item-control item-edit" title="{{localize "EXPANSE.Edit" }}"><i class="fas fa-edit"></i></a>
              <a class="item-control item-delete" title="{{localize "EXPANSE.Delete" }}"><i class="fas fa-trash"></i></a>
            </div>
          </li>
          {{/each}}
          <li class="item-control">
            <a class="item-create" data-type="consequence" title="{{localize "EXPANSE.Add" }}">
              <i class="fas fa-plus"></i>
            </a>
          </li>
        </ul>
      </div>
      {{/ifCond}}

      <!-- GM Notes Section -->
      {{#ifCond isGM '==' true}}
      <div class="item-box">
        <div class="weapon-header">
          <span>{{localize "EXPANSE.GMnotes"}}</span>
        </div>
        <div class="biography-container"> 
          {{editor enrichment.system.GMnotes target="system.GMnotes" engine="prosemirror" button=true owner=owner editable=true}}
        </div>
      </div>
      {{/ifCond}}
    </section>
  </div>

</form>