<form class="{{cssClass}}" autocomplete="off">

  <div class="sheet challenge-sheet">

    <header class="sheet-header">
      <div>{{localize "EXPANSE.name"}}: <input class="challenge-name" type="text" name="name" value="{{actor.name}}" /></div>
      <div class="challenge-type">{{localize "EXPANSE.type"}}:
        <select class="challenge-type-selector" type="text" name="system.type" data-dtype="String">
          {{#select actor.system.type}}
          <option value="" selected></option>
          <option value="exploration">{{localize "EXPANSE.challenge.exploration" }}</option>
          <option value="social">{{localize "EXPANSE.challenge.social" }}</option>
          <option value="chase">{{localize "EXPANSE.challenge.chase" }}</option>
          {{/select}}
        </select>
      </div>
      <div>{{localize "EXPANSE.difficulty"}}: <input class="challenge-difficulty" type="number" name="system.difficulty" value="{{actor.system.difficulty}}" /></div>
      <div>{{localize "EXPANSE.successThreshold"}}: <input class="challenge-successThreshold" type="number" name="system.successThreshold" value="{{actor.system.successThreshold}}" /></div>
      <div>{{localize "EXPANSE.timePerTest"}}: <input class="challenge-timePerTest" type="text" name="system.timePerTest" value="{{actor.system.timePerTest}}" /></div>
      
      <div class="weapon-box">

        <div class="weapon-header">
            <span>{{localize "EXPANSE.ApplicableAbilities" }}</span>
        </div>
        <ul class="items weapon-list">
          {{#each applicableAbilities as |ability key|}}
          <li class="item weapon" data-item-id="{{id}}">
              <div class="weapon-row">
                  <div class="weapon-list-item weapon-name">
                      {{localize (concat "EXPANSE." name)}} ({{focus}})
                  </div>
                  <div class="item-controls weapon-list-item">
                      <a class="item-control item-edit" title="Edit Weapon"><i class="fas fa-edit"></i></a>
                      <a class="item-control item-delete" title="Delete Weapon"><i class="fas fa-trash"></i></a>
                  </div>
              </div>
          </li>
          {{/each}}
          <li>
            <a class="item-control item-create" data-type="focus" title="Add Ability">
                <i class="fas fa-plus"></i>
            </a>
          </li>
        </ul>
      </div>
    </header>


    <section class="sheet-body">
      <div class="description-notes-container">
        {{localize "EXPANSE.description"}}:
        {{editor enrichment.system.description target="system.description" engine="prosemirror" button=true owner=owner editable=true}}
      </div>
      <div class="stunts-notes-container">
        {{localize "EXPANSE.stunts"}}:
        {{editor enrichment.system.stunts target="system.stunts" engine="prosemirror" button=true owner=owner editable=true}}
      </div>
     </section>
  </div>

</form>