/*ul {
    margin: 0;
    padding: 0;
}*/

.ship .ship-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 450px;
    max-height: none !important;
    margin: 0px 5px 0px 5px;
    background-color: rgba(116,189,220, 0.5);
}

.ship .ship-image {
    display: flex;
    justify-content: center;
    height: 300px;
    /*box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .6);*/
}

.ship .ship-image img {
    display: flex;
    height: 300px;
}

.ship .ship-block {
    padding: 10px;
}

.ship .ship-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}

.ship .ship-input {
    display: flex;
    flex-direction: row;
    height: 30px;
}

.ship .ship-name {
    width: 40%;
}
.ship .ship-type {
    width: 25%;
}

.ship .ship-drive {
    width: 33%;
}

.ship .ship-row > label {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    background-color: black;
    white-space: nowrap;
    padding: 5px;
}

.losses-header {
    margin: 5px 0px;
}

.losses-checkbox input[type=checkbox]{
    cursor: pointer;
    height: 20px;
    width: 20px;
}

.losses-checkbox input[type=checkbox]:checked{
    accent-color: red;
}
.ship-losses input[type=number],  
.ship .ship-row input[type=text] {
    font-weight: bold;
    text-align: start;
    border: none;
    background-color: #f3f3f3;
    height: 100%;
    padding-left: 5px;
    border-bottom-right-radius: 10px;
}

.ship-losses input[type=number] {
    text-align: right;
    padding-right: 10px;
}

.ship-losses-row {
    width: 100%;
    display: flex;
    flex-direction: row;
} 

.ship-losses-column {
    width: 60%;
}

.ship-losses-button-column {
    width: 40%;
}

.losses-checkbox-group {
    display: flex;
    flex-direction: row;
}

.rowReversed {
    flex-direction: row-reverse !important;
}

.ship-losses-btn {
    padding: 2px 5px 2px 5px;
    background-image: linear-gradient(to bottom, #e4e4e4, #f7f7f7);
    border: 1px solid #afafaf;
    border-radius: 3px;
    margin-top: 2px;
    cursor: pointer;
}

.reset-loss {
    color: red;
}

.LossConditions {
    height: 100%;
}

.lossSelector {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: none;
}

.ship .ship-senhulcre {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 26%;
    height: 100px;
}

.ship .ship-weapons {
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    width: 100%;
    height: 100px;
}

.ship .weapon-inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ship .weapon-inputs > input[type=text] {
    height: 25px;
    margin-bottom: 2px;
}

.ship .ship-notes-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    min-height:100px;
    margin: 0px 0px 10px 0px;
    background-color: #f3f3f3;
}

.shi .ship-notes-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ship .ship-notes-container .editor {
    width: 100%;
    min-height: 100px;
    background-color: transparent;
    text-align: justify;
    /*font-family: 'Montserrat', sans-serif;*/
    padding: 5px;
}

.ship .crew-box .ship-losses{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #D6E7ED;
}

.ship .ship-member {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-evenly;
    margin: 5px 0;
}

.ship .ship-crewrole {
    display: flex;
    width: 23%;
    background-color: transparent;
    justify-content: center;
}

.ship .ship-crewstat {
    display: flex;
    width: 23%;
    border: none;
    background-color: rgba(0, 0, 0, .05);
}

.ship .ship-crewmod {
    display: flex;
    width: 23%;
    border: none;
    background-color: rgba(0, 0, 0, .05);
}

.ship .ship-crewname {
    display: flex;
    width: 23%;
    border: none;
    background-color: rgba(0, 0, 0, .05);
}
